<template>
  <div id="app">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#/">News</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarColor01"
        aria-controls="navbarColor01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/economy">Economy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/technology">Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/health">Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/politics">Politics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/entertainment">Entertainment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/uk">UK</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/world">World</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/sports">Sports</a>
          </li>
        </ul>
        <form @submit.prevent="getSearch" class="form-inline my-2 my-lg-0">
          <input
            v-model="search"
            class="form-control mr-sm-2"
            type="text"
            id="search"
            placeholder="Search"
          />
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <router-view :key="$route.path" class="container" />
  </div>
</template>
<script>
//const API_SEARCH = "http://desktop-udnd3jg:5000/search";
export default {
  name: "App",
  data: () => ({
    search: ""
  }),
  methods: {
    getSearch() {
      console.log(this.search);
      this.$router.push({ name: "Search", params: { id: this.search } });
      // fetch(API_SEARCH, {
      //   method: "POST",
      //   body: JSON.stringify(this.search),
      //   headers: {
      //     "content-type": "application/json"
      //   }
      // })
      //   .then(res => res.json())
      //   .then(res => {
      //     console.log(res);
      //     this.news = [];
      //     for (let i = 0; i < res.length; i++) {
      //       this.news.push(res[i]);
      //     }
    }
  }
};
</script>
<style>
.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
}
</style>
