<template>
  <div>
    <div>
      <h1 class="mx-auto text-center mb-4 mt-1">Searching {{ $route.params.id }}</h1>
    </div>
    <div class="list-unstyled" v-for="n in news" :key="n._id">
      <li class="media">
        <a :href="n.url">
          <img
            v-if="!urlContains(n.imageURL)"
            class="mr-3"
            :src="n.imageURL"
            alt="Article does not have an image"
          />
        </a>
        <!-- <a v-else :href="n.url">
          <img class="mr-3" src="../assets/noImage.jpg" alt="Article does not have an image" />
        </a>-->
        <a :href="n.url">
          <div class="media-body">
            <h5 v-if="n.headline" class="mt-0 mb-1">{{ n.headline }}</h5>
            {{ n.publicationDate + " " + n.author }}
          </div>
        </a>
      </li>
      <hr />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
const API_SEARCH = "https://news-content-aggregator.herokuapp.com/search";

export default {
  name: "Economy",
  data: () => ({
    news: [],
    search: {
      inp: ""
    }
  }),
  mounted() {
    this.search.inp = this.$route.params.id;
    console.log("Value is " + this.search);
    fetch(API_SEARCH, {
      method: "POST",
      body: JSON.stringify(this.search),
      headers: {
        "content-type": "application/json"
      }
    })
      .then(res => res.json())
      .then(res => {
        console.log(res);
        this.news = [];
        for (let i = 0; i < res.length; i++) {
          this.news.push(res[i]);
        }
      });
  },
  methods: {
    urlContains(n) {
      try {
        return n.includes("no image");
      } catch {
        return true;
      }
    }
  }
};
</script>
<style>
hr {
  border-top: 1px solid black;
}
img {
  max-width: 300px;
  max-height: 150px;
}
nav {
  margin-bottom: 10px;
}
</style>
